doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/highcharts.css')
    link(rel='stylesheet', href='/stylesheets/annotations/popup.css')
    link(rel='stylesheet', href='/stylesheets/stocktools/gui.css')
    // link(rel='stylesheet', href='/stylesheets/themes/dark-unica.css')
    // link(rel='stylesheet', href='/stylesheets/themes/grid-light.css')
    link(rel='stylesheet', href='/stylesheets/themes/sand-signika.css')
  body
    block content
    block scripts
